body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #222;
}
.palette-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #66aaf8;
    color: white;
    text-align: center;
    padding: 7px 0;
    font-size: 14px;
    font-weight: bold;
    animation: backgroundShift 3s infinite linear;
}


.palette-header span {
    transition: opacity 0.5s ease-in-out;
}
.navbar {
    position: sticky;
    top: 25px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.8s ease-out forwards;
    z-index: 999;
    max-height: 60px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo img {
   width: 150px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-right: 40px;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    position: relative;
}
.nav-links a:hover {
    color: #222;
    transform: scale(1.1);
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 50px;
}
.menu-toggle div {
    width: 30px;
    height: 3px;
    background: #222;
    margin: 5px 0;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.hero {
    height: 400px;
    background: url('hero.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-content p {
    font-size: 18px;
    margin-top: 5px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .menu-toggle {
        display: flex;
    }
    .nav-links.active {
        display: flex;
    }
}